@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root{
  font-size: 16px;
  box-sizing: border-box;
}
@media(max-width: 780px){
  .modal-content{
    width: 100%;
  }
}
.modal-container{
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  align-items: center;
  justify-content: center;
}
.modal-content{
  background-color: white;
  padding: 30px 40px;
  border-radius: 20px;
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.header-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a{
  text-decoration: none;
}
.forgot-password-text{
  font-family: Poppins;
  font-weight: bold;
  margin: 0 0;
  font-size: 156.25%;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}
.instructions{
  font-family: Nunito;
  font-size: 81.25%;
  text-align: center;
}
.email-text{
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 93.75%;
  font-weight: 600;
}
.email-input{
  padding: 10px;
  border-radius: 7px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  box-sizing: border-box;
}
.reset-password {
  background: linear-gradient(to right, #FF47BA, #5FC9E7);
  background-size: 200%; /*addition */
  background-position: left; /* addition */
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 20px;
  color: white;
  transition: background-position .6s ease;
  cursor: pointer;
  margin: 15px 0;
  font-family: Nunito;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-family: Poppins;
}

.reset-password:hover {
  background-position: right;
}
.reset-password:active{
  background-size: 100%;
  transition: background-size 0.3s ease;
}
.back-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
}
.back-icon{
  width: 15px;
}
.back-text{
  font-family: Nunito;
  font-size: 68.75%;
  color: rgba(0, 0, 0, 0.35);
  font-weight: 600;
}
